Repository Open-Smartwatch/open-smartwatch-os, pull requests merged in 2022-12, with the labels that each got.

#294 Add calculator and flash-light
  CMakeLists.txt
  include/apps/tools/OswAppCalculator.h
  include/apps/tools/OswAppFlashLight.h
  include/config_defaults.h
  src/apps/tools/OswAppCalculator.cpp
  src/apps/tools/OswAppFlashLight.cpp
  src/main.cpp
Labels: :star: enhancement, src/osw-app, :hourglass_flowing_sand: pending for discussion

#327 docs: Adds license to readme
  Readme.md
Labels: :scroll: documentation

#336 CI: refactoring all CI action
  .github/buildEverything.py
  .github/workflows/astyle.yml
  .github/workflows/test-EMULATOR.yml
  .github/workflows/test-FEATURE.yml
  .github/workflows/test-OS.yml
  .github/workflows/test-OSW.yml
  include/locales/ko-KR.h
Labels: :star: enhancement, :heavy_check_mark: merge when CI passed, :robot: workflows
