Repository Open-Smartwatch/open-smartwatch-os, pull requests merged in 2023-01, with the labels that each got.

#341 Feature/logging test
  emulator/include/Serial.h
  emulator/src/tests/CaptureSerial.hpp
  emulator/src/tests/logging.cpp
  emulator/src/tests/serial.cpp
Labels: :star: enhancement, src/core

#337 Create the notification system
  emulator/src/tests/OswServiceTaskNotifier.cpp
  include/config_defaults.h
  include/services/NotifierClient.h
  include/services/OswServiceTaskNotifier.h
  include/services/OswServiceTasks.h
  lib/date/README
  lib/date/date.h
  src/services/NotifierClient.cpp
  src/services/OswServiceTaskNotifier.cpp
  src/services/OswServiceTasks.cpp
Labels: :star: enhancement, src/core, src/osw-service, :heavy_check_mark: merge when CI passed

#346 Fix for #344
  src/hal/environment.cpp
Labels: :lady_beetle: bug, confirmed

#349 Feature/wakeup configs
  emulator/include/DataTypes.h
  emulator/include/ESP.h
  emulator/include/Emulator.hpp
  emulator/include/FakeMe.h
  emulator/include/IO.h
  emulator/include/Preferences.h
  emulator/include/nvs_flash.h
  emulator/src/Emulator.cpp
  emulator/src/FakeMe.cpp
  emulator/src/Preferences.cpp
  emulator/src/nvs_flash.cpp
  emulator/src/tests/emulator.cpp
  emulator/src/tests/fixtures/CaptureSerialFixture.hpp
  emulator/src/tests/fixtures/EmulatorFixture.hpp
  emulator/src/tests/fixtures/PreferencesFixture.hpp
  emulator/src/tests/logging.cpp
  emulator/src/tests/serial.cpp
  include/osw_hal.h
  screenshots/emulator_demo.png
  scripts/build/prebuild_lua.py
  src/hal/power.cpp
  src/osw_config.cpp
  src/osw_config_keys.cpp
  src/osw_hal.cpp
  src/osw_ui.cpp
Labels: :star: enhancement, src/core, src/osw-service, :heavy_check_mark: merge when CI passed, src/osw-emulator
