Repository Open-Smartwatch/open-smartwatch-os, pull requests merged in 2024-05, with the labels that each got.

#387 Fix broken workflows due to SWIG install on Mac-OS
  .github/workflows/astyle.yml
  .github/workflows/test-EMULATOR.yml
  .github/workflows/test-FEATURE.yml
  .github/workflows/test-OS.yml
  .github/workflows/test-OSW.yml
Labels: :lady_beetle: bug, :robot: workflows

#389 Fixed #386, color for flashLight
  src/apps/tools/OswAppFlashLight.cpp
Labels: src/osw-app

#390 Fix typo on root project
  README.md
  docs/firmware/apps/OswWeather.md
  docs/firmware/apps/watchfaces.md
  docs/firmware/osw_os.md
  emulator/src/Emulator.cpp
  include/Arduino_Canvas_Graphics2D.h
  include/apps/tools/OswAppFlashLight.h
  include/config_defaults.h
  include/devices/esp32.h
  include/gfx_2d_print.h
  include/globals.h
  include/math_angles.h
  include/services/OswServiceTaskMemMonitor.h
  scripts/build/prebuild_info.py
  src/OswAppV2.cpp
  src/animations/demos/README.md
  src/apps/OswAppDrawer.cpp
  src/apps/_experiments/OswAppWeather.cpp
  src/apps/_experiments/dnatilt.cpp
  src/apps/tools/OswAppCalculator.cpp
  src/apps/watchfaces/OswAppWatchfaceDigital.cpp
  src/devices/esp32.cpp
  src/hal/power.cpp
  src/math_angles.cpp
  src/osm_render.cpp
  src/osw_ulp.cpp
  src/services/OswServiceTaskWiFi.cpp
Labels: :scroll: documentation

#391 Removed some LEv2.3 references
  .github/getWorkflowMatrix.py
  docs/firmware/apps/OswWeather.md
  docs/firmware/osw_os.md
Labels: :scroll: documentation, :heavy_check_mark: merge when CI passed, :robot: workflows
